<div class="chapter">
  <% zebra_map = {'even' => 'odd', 'odd' => 'even'}; zebra = 'even' %>
  <% he.each do |line_id, line| %>
    <div class="line <%= zebra = zebra_map[zebra] %>">
      <p class="line-number"><%= line[0].nil? ? '&nbsp;' : "#{line[0]}." %></p>
      <p class="he">
        <%= line[1].join("<br />") %>
      </p>
      <p class="nl">
        <% if nl[line_id] %>
          <%= nl[line_id][1].join("<br />") %>
        <% end %>
      </p>
      <p class="margin">
        <% if margin[line_id] %>
          <%= margin[line_id][1].join("<br />") %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>